/* global style start */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", serif;
}
/* global style end */

/* common share style start */
.w-50 {
  width: 50%;
}

.btn-primary {
  width: 224px;
  padding: 16px 40px;
  border-radius: 42px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background: #e6533c;
  border: 0px;
}
/* common share style end */

/* header style start */
.header {
  height: 735px;
  padding: 0px 200px;
  background-image: linear-gradient(1800deg, #151515, #222222);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 58px;
}

.logo {
  color: #e6533c;
  font-family: Inter;
  font-size: 36px;
  font-style: italic;
  font-weight: 800;
}

nav ul {
  display: flex;
  align-items: center;
  border-radius: 39px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

nav li {
  list-style: none;
  margin-right: 34px;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.home {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 46px;
  background: #e6533c;
  margin: 5px;
}
/* header style end */

/* banner style start */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 54px;
}

.banner-title {
  color: #fff;
  font-size: 78px;
  font-weight: 900;
}

.shape {
  color: #fff;
  font-family: Miama;
  font-size: 78px;
  font-weight: 400;
  font-style: italic;
}

.banner-details {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding-top: 28px;
}

.btn-download {
  width: 224px;
  padding: 16px 40px;
  border-radius: 42px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0);
}

.btn-container {
  padding-top: 28px;
}

.banner-img {
  width: 580px;
  height: 580px;
  margin-left: 100px;
}
/* banner style end */
